.color_picker,
.color_picker * {
    padding: 0;
    margin: 0 auto;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
}
.color_picker {
    position: relative;
    width: 150px;
    height: 26px;
    line-height: 26px;
    border: 1px rgb(169,169,169) solid;
}
.color_picker_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.color_picker_block {
    position: absolute;
    top: 26px;
    left: 0;
    background-color: rgb(169,169,169);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 356px;
    height: 176px;
    z-index: 10000;
}
.color_picker_left_block,
.color_picker_right_block
    {
    position: absolute;
    top: 13px;
    height: 150px;
}
.color_picker_left_block {
    left: 13px;
    width: 150px;
    border: 2px rgb(233, 174, 174) solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.color_picker_right_block {
    right: 13px;
    width: 180px;
}

.color_picker_bar_block {
    position: relative;
    width: 35px;
    height: 150px;
    float: left;
}

.color_picker_color_bar {
    position: absolute;
    top: 0;
    left: 9px;
    width: 17px;
    height: inherit;
    border: 2px rgb(233, 174, 174) solid;
    background: url(../icon/icon_color_bar.png) center center no-repeat;
}

.color_picker_slider_bar {
    position: absolute;
    top: -4px;
    left: 0;
    width: 35px;
    height: 9px;
    float: left;
    background: url(../icon/icon_color_bar.gif) center center no-repeat;
    cursor: n-resize;
}

.color_picker_value_block {
    position: relative;
    width: 140px;
    height: 150px;
    float: right;
}

.color_picker_left {
    float: left;
}

.color_picker_right {
    float: right;
}

.value_block_width {
    width: 60px;
}

.rgb_value_block {
    margin-top: 9px;
    border: 2px rgb(233, 174, 174) solid;
}

.rgb_height {
    height: 20px;
    line-height: 20px;
}

.rgb_font {
    height: 16px;
    line-height: 16px;
    text-indent: 5px;
    font-size: 14px;
}

.rgb_input {
    width: 30px;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0);
}

.color_picker_top_color {
    height: 30px;
    border: 2px rgb(233, 174, 174) solid;
}