body,
div,
p{
    font-family: 'Microsoft Yahei' ;
    font-size: 14px;
}
.clock {
    border: 10px solid #8bf2f1;
    margin: 100px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 3px #444 inset;
    position: relative;
}
/*原点*/
.origin {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff0000;
    position: absolute;
}
/* 指针 */
.clock_line {
    position: absolute;
    position:absolute;
    z-index: 20;
}
.hour_line {
    width: 25%;
    height: 4px;
    top: calc(50% - 2px);
    left: 50%;
    background-color:#000;
    border-radius: 2px;
    transform-origin: 0 50%;
    box-shadow:1px -3px 8px 3px #aaa;
}
.minute_line {
    width: 32.5%;
    height: 2px;
    top: calc(50% - 1px);
    left: 47.5%;
    background-color:#000;
    transform-origin: 7.692% 50%;
    box-shadow: 1px -3px 8px 1px #aaa;
}
.second_line {
    width: 42.5%;
    height: 1px;
    top: calc(50% - 0.5px);
    left: 45%;
    background-color:#f60;
    transform-origin: 11.765% 50%;
    box-shadow: 1px -3px 7px 1px #bbb;
}
.dot_box {
    width: inherit;
    height: inherit;
}
/*时钟数*/
.dot {
    width: 10%;
    height: 10%;
    text-align: center;
    font-size: 22px;
    position: absolute;
}
.clock-scale {
    height: 2px;
    transform-origin: 0% 50%;
    z-index: 7;
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
}
.scale-show {
    width: 12px;
    height: 2px;
    background-color:#555;
    float:left;
}
.scale-hidden {
    width:183px;
    height:2px;
    float:left;
}
/*日期*/
.date_info {
    width:160px;
    height:28px; 
    line-height:28px;
    text-align:center;
    position:absolute;
    top: 230px;
    left: 120px;
    z-index:11;
    color:#555;
    font-weight:bold;
}
.time_info {
    width: 110px;
    height: 35px;
    line-height: 35px;
    text-align:center;
    position:absolute;
    top: 270px;
    left: 150px;
    z-index:11;
    color:#555;
    background: #253e3e;
}
.time {
    width: 35px;
    height: 35px;
    float: left;
    color: #fff;
    font-size: 22px;
}
.minute_time {
    border-left:1px solid #fff;
    border-right:1px solid #fff;
}